@model IEnumerable<TaskManager.Models.TaskModel>;

<div class="control-box" style="display: inline;">
    <span style="padding: 0px;">
        <img src="https://cdn-icons-png.flaticon.com/512/650/650154.png" alt="" class="search-icon">
        <input id="search-bar" name="Data" type="text" class="search-bar" placeholder="Search for task">
    </span>
    <span style="float:right; padding: 0px;">
        <label for="sort" style="margin: 5px;">Sort by:</label>
        <select id="sort-selection" name="select" class="select-box">
            <option value="none" selected>---</option>
            <option value="name">Name</option>
            <option value="deadline">Deadline</option>
            <option value="priority">Priority</option>
        </select>
        <script>
            var sortSelector = document.getElementById("sort-selection");

            sortSelector.addEventListener("change", function () {
                if (this.value == "name") {
                    window.location.replace('@Url.Action("SortByName", "Task")').onload();
                }
                else if (this.value == "deadline") {
                    window.location.replace('@Url.Action("SortByDeadline", "Task")').onload();
                }
                else if (this.value == "priority") {
                    window.location.replace('@Url.Action("SortByPriority", "Task")').onload();
                }
                else if (this.value == "none") {
                    window.location.replace('@Url.Action("", "Task")').onload();
                }
            });
        </script>
    </span>
</div>

<div class="table">
    <div class="grid-start">
        <div class="row" style="background-color: lightslategray;">Name</div>
        <div class="row" style="background-color: lightslategray;">Deadline</div>
        <div class="row" style="background-color: lightslategray;">Priority</div>
        <div class="row" style="background-color: lightslategray;">Tags</div>
        <div class="row" style="background-color: lightslategray;">Description</div>
        <div class="row" style="background-color: lightslategray;">Manage</div>
    </div>
    
    @if (Model == null || Model.Count() == 0)
    {
        <p style="margin: 20px;">There are no tasks in the system!</p>
    }
    else
    { 
    @foreach (var task in Model)
    {
    <div class="grid">
        @if (task.Deadline.Date >= DateTime.Now.Date)
        {
            @if (task.IsDone)
            {
                <div class="row">✔️@task.Name</div>
            }
            else 
            {
                <div class="row">🤔@task.Name</div>
            } 
            <div class="row">@task.Deadline.ToString("MMMM dd, yyyy")</div>
            <div class="row">@task.Priority*</div>
            <div class="row">@task.Tags</div>
            <div class="row">@task.Description</div>
            <div class="row">
                <div style="width: 50%; float:left; display: flex; justify-content: space-between;">
                    <a asp-controller="Task" asp-action="MarkAsDone" class="btn btn-primary done-button" asp-route-id="@task.Id">Done</a>
                </div>
                <div style="width: 50%; float:right; display: flex; justify-content: space-between;">
                    <a asp-controller="Task" asp-action="Delete" class="btn btn-primary done-button" asp-route-id="@task.Id" style="background-color: #e09696;">Delete</a>
                </div>
            </div>
        }
    </div>
    }    
}
    <form asp-action="Create" method="post">
        <div class="grid-end" style="margin-top: 10px;">
            <input name="Name" type="text" class="row" autocomplete="off" style="background-color: #ededed; width: 100%;">
            <input name="Deadline" type="date" class="row" autocomplete="off" style="background-color: #ededed; width: 100%;">
            <input name="Priority" type="number" class="row" min="1" max="3" autocomplete="off" style="background-color: #ededed; width: 100%;">
            <input name="Tags" type="text" class="row" autocomplete="off" style="background-color: #ededed; width: 100%;">
            <input name="Description" type="text" class="row" autocomplete="off" style="background-color: #ededed; width: 100%;">
            <input name="IsDone" type="checkbox" class="row" style="display: none;">
            <div class="row" style="padding: 0px;">
                <button type="submit" class="btn btn-primary done-button">+ Add item</button>
            </div>
        </div>
    </form>
</div>